body {
    background-color: aliceblue;
    font-size: 32px;
}

.container {
    width: 50%;
    margin-top: 10%;
}

.btn {
    font-variation-settings: "GRAD" 400;
    font-size: 3rem;
}
#timer {
    position: absolute;
    top: 5%;
    right: 15%;
    font-size: 70px;
    color: red;
}

h2 {
    text-align: center;
}

#start {
    margin-top: 25px;
}